In [1]:
import pandas as pd
import numpy as np
import re
import os

## Spam

In [2]:
iter = 0
subject = []
body = []
tobe_body = ''
while (True):
    try:
        with open("data/spam/mail"+str(iter)+".txt","rb") as f:
            for i,line in enumerate(f):
                line = line.rstrip()
                if i==0:
                    line = re.sub("b'Subject: ","",str(line))
                    subject.append(line)
                else:
                    line = re.sub("b'","",str(line))
                    line = re.sub("'b","",line)

                    tobe_body += line
                    
            body.append(tobe_body)
            tobe_body=''
            iter+=1
        
    except FileNotFoundError:
        print(str(iter) +" spam files")
        break

9689 spam files

In [12]:
assert (len(subject) == len(body)  ), "It's not  correct"

In [5]:
df = pd.DataFrame(columns=['subject','body','label'])

In [6]:
df.subject = subject

In [7]:
df.body = body

In [8]:
df.label = 1

In [10]:
df.head()

,subject,body,label
0,you don _ t know how to get into search engine...,submitting your website in search engines may ...,1
1,sterling balance sheet strengthens underpriced...,secured data inc . ( scre )'emerging leader in...,1
2,topcoat best m = eds here anyplace',i asked a conductor one day at what time the't...,1
3,"updates for clients sun , 03 jul 2005 .'","subject : updates for clients sun , 03 jul 200...",1
4,"re : knjecmo , intrepid investors report for s...","dane dempsey ,'emerging enterprise solutions ,...",1

In [9]:
print(df.subject[0])

you don _ t know how to get into search engine results ?'

In [107]:
print(df.body[0])

submitting your website in search engines may increase'your online sales dramatically .'lf you invested time and money into your website , you'simply must submit your website'oniine otherwise it wili be invisibie virtualiy , which means efforts spent in vain .'lf you want'people to know about your website and boost your revenues , the oniy way to do'that is to'make your site visible in places'where people search for information , i . e .'submit your'website in muitipie search engines .'submit your website oniine'and watch visitors stream to your e - business .'best regards ,'norasweeney _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ not interested . . . _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _'

In [13]:
df.to_csv('csv/spam.csv')

## users- inbox

In [14]:
iter = 0
usr_iter = 1
subject = []
body = []
tobe_body = ''
while (True):
    try:
        with open("data/user"+ str(usr_iter)+"/inbox/mail"+str(iter)+".txt","rb") as f:
            how_many_file = os.listdir("data/user"+ str(usr_iter)+"/inbox")
            number_files = len(how_many_file)
            for i,line in enumerate(f):
                line = line.rstrip()
                if i==0:
                    line = re.sub("b'Subject: ","",str(line))
                    subject.append(line)
                else:
                    line = re.sub("b'","",str(line))
                    line = re.sub("'b","",line)

                    tobe_body += line
                    
            body.append(tobe_body)
            tobe_body=''
            iter+=1
            
            if iter == number_files-1:
                usr_iter+=1
                iter=0
            
    except FileNotFoundError:
        break

In [15]:
len(subject)

6078

In [19]:
len(body)

6078

In [17]:
usr_iter

21

In [20]:
df = pd.DataFrame(columns=['subject','body','label'])

df.subject = subject
df.body = body
df.label=0

In [22]:
df.head()

,subject,body,label
0,re : cornhusker',if the plants become an external counterparty ...,0
1,"brandywine meter # : 981225 ; march , 2000 act...",there was no flow at meter 981225 for the mont...,0
2,southern union - 03 / 01 prod - austin spot de...,"daren -'per janet , the price of $ 5 . 235 + ....",0
3,eastrans november first of the month nominations',effective 11 / 1 / 00 deliveries to eastrans i...,0
4,calpine daily gas nomination ( weekend )',">'ricky a . archer'fuel supply'700 louisiana ,...",0

In [21]:
df.to_csv('csv/not_spam.csv')

## users- Stream

In [115]:
iter = 0
usr_iter = 1
subject = []
body = []
tobe_body = ''
while (True):
    try:
        with open("data/user"+ str(usr_iter)+"/stream/mail"+str(iter)+".txt","rb") as f:
            how_many_file = os.listdir("data/user"+ str(usr_iter)+"/stream")
            number_files = len(how_many_file)
            for i,line in enumerate(f):
                line = line.rstrip()
                if i==0:
                    line = re.sub("b'Subject: ","",str(line))
                    subject.append(line)
                else:
                    line = re.sub("b'","",str(line))
                    line = re.sub("'b","",line)

                    tobe_body += line
                    
            body.append(tobe_body)
            tobe_body=''
            iter+=1
            
            if iter == number_files-1:
                usr_iter+=1
                iter=0
            
    except FileNotFoundError:
        break

In [116]:
iter

0

In [118]:
usr_iter

21

In [119]:
len(subject)

7179

In [120]:
len(body)

7179

In [121]:
df = pd.DataFrame(columns=['subject','body'])

df.subject = subject
df.body = body

In [122]:
df.head()

,subject,body
0,"test our internet pharmacy , buy viagra and ot...",no visit to the doctor needed - safe and easy ...
1,"hpl nom for may 16 , 2001'",( see attached file : hplno 516 . xls )'- hpln...
2,black marlin ua 4 meters',"michael ,'can you back date deals 83347 and 83..."
3,read : this email will change your life',"dear homeowner ,'you have been pre - approved ..."
4,"special pricing on rxdrugs . to be precise , p...",our chernist - site provides customers a quick...

In [123]:
df.to_csv('csv/stream_dont_know.csv')